@model VideoDto

@{
    ViewData["Title"] = "Video";
}

<header>
    <div class="search-bar-container">
        <input class="search-bar" type="text" />
        <img class="search-bar-icon" src="~/images/search-icon.png" />
    </div>
</header>
<main>
    <div class="video-visualizer">
        <video controls src="@Model.VideoFile.CloudURL"></video>
    </div>
    <h3 class="video-title fw-bold mt-3">@Model.Title</h3>
    <div class="video-metadata mt-3">
        <div class="video-metadata-channel">
            <img class="video-matadata-channel-profile-picture" src="@Model.CreatedBy.ProfilePicture.CloudURL" />
            <div class="video-matadata-channel-data">
                <h5 class="fw-bold">@Model.CreatedBy.Name</h5>
                <h6 class="text-faded fw-normal">@Model.CreatedBy.Subscribers.Count subscribers</h6>
            </div>
        </div>
        <div class="video-metadata-description mt-3">
            <h6 class="video-metadata-views-and-date fw-bold">@Model.Views views, @Model.CreatedOn.ToString("dd/MM/yyyy")</h6>
            <p class="video-metadata-description-content text-faded">
                @Model.Description
            </p>
        </div>
    </div>
</main>