@{
    ViewData["Title"] = "Home page";
    var subscriptionVideos = this.User.Identity.IsAuthenticated 
        ? (List<VideoDto>) this.ViewData["SubscriptionVideos"]
        : new List<VideoDto>();

    var randomVideos = (List<VideoDto>)this.ViewData["RandomVideos"];
}

<header>
    <div class="search-bar-container">
        <input class="search-bar" type="text" />
        <img class="search-bar-icon" src="~/images/search-icon.png" />
    </div>
</header>
<main>
    @if (this.User.Identity.IsAuthenticated && subscriptionVideos.Count > 0)
    {
        <section class="home-page-section subscription-videos">
            <h1 class="home-page-section-title">Your subscriptions</h1>
            <hr class="hr-2" />
            @{
                int subscriptionVideoIndex = 0;
                int subscriptionLeftOverVideoContainers = 0;
            }
            @for (int row = 0; row < (subscriptionVideos.Count / 5) + 1; row++)
            {
                {
                    subscriptionLeftOverVideoContainers = 0;
                }
                <div class="videos-row">
                    @for (int currentRowIndex = 0; currentRowIndex < 5 && subscriptionVideoIndex < subscriptionVideos.Count; currentRowIndex++, subscriptionVideoIndex++, subscriptionLeftOverVideoContainers++)
                    {
                        <a class="video-card-link" href="/Video/Details?v=@subscriptionVideos[subscriptionVideoIndex].Id">
                            <div class="videos-card">
                                <img class="videos-thumbnail" src="@subscriptionVideos[subscriptionVideoIndex].Thumbnail.CloudURL">
                                <div class="videos-data">
                                    <img class="videos-channel-profile-picture" src="@subscriptionVideos[subscriptionVideoIndex].CreatedBy.ProfilePicture.CloudURL" />
                                    <div class="videos-details">
                                        <div class="videos-title">@subscriptionVideos[subscriptionVideoIndex].Title</div>
                                        <div class="videos-channel-name">@subscriptionVideos[subscriptionVideoIndex].CreatedBy.Name</div>
                                        <div class="videos-metrics">
                                            <div class="videos-views">@subscriptionVideos[subscriptionVideoIndex].Views</div>
                                            <div class="videos-views-date-separator"></div>
                                            <div class="videos-date">@subscriptionVideos[subscriptionVideoIndex].CreatedOn.ToString("dd/MM/yyyy")</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    @for (; subscriptionLeftOverVideoContainers < 5; subscriptionLeftOverVideoContainers++)
                    {
                        <div class="videos-card"></div>
                    }
                </div>
            }
        </section>
    }
    <section class="home-page-section random-videos">
        <h1 class="home-page-section-title">Suggested for you</h1>
        <hr class="hr-2"/>
        @{
            int randomVideoIndex = 0;
            int leftoverVideoContainers = 0;
        }
        @for (int row = 0; row < (randomVideos.Count / 5) + 1; row++)
        {
            {
                leftoverVideoContainers = 0;
            }
            <div class="videos-row">
                @for (int currentRowIndex = 0; currentRowIndex < 5 && randomVideoIndex < randomVideos.Count; currentRowIndex++, randomVideoIndex++, leftoverVideoContainers++)
                {
                    <a class="video-card-link" href="/Video/Details?v=@randomVideos[randomVideoIndex].Id">
                        <div class="videos-card">
                            <img class="videos-thumbnail" src="@randomVideos[randomVideoIndex].Thumbnail.CloudURL">
                            <div class="videos-data">
                                <img class="videos-channel-profile-picture" src="@randomVideos[randomVideoIndex].CreatedBy.ProfilePicture.CloudURL" />
                                <div class="videos-details">
                                    <div class="videos-title">@randomVideos[randomVideoIndex].Title</div>
                                    <div class="videos-channel-name">@randomVideos[randomVideoIndex].CreatedBy.Name</div>
                                    <div class="videos-metrics">
                                        <div class="videos-views">@randomVideos[randomVideoIndex].Views</div>
                                        <div class="videos-views-date-separator"></div>
                                        <div class="videos-date">@randomVideos[randomVideoIndex].CreatedOn.ToString("dd/MM/yyyy")</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @for (; leftoverVideoContainers < 5; leftoverVideoContainers++)
                {
                    <div class="videos-card"></div>
                }
            </div>
        }
    </section>
</main>
