@model List<VideoDto>

@{
    ViewData["Title"] = "Home page";
}

<header>
    <div class="search-bar-container">
        <input class="search-bar" type="text" />
        <img class="search-bar-icon" src="~/images/search-icon.png" />
    </div>
</header>
<main>
    <section class="subscription-videos"></section>
    <section class="trending-videos"></section>
    <section class="random-videos">
        @{
            int randomVideoIndex = 0;
            int leftoverVideoContainers = 0;
        }
        @for (int row = 0; row < (Model.Count / 5) + 1; row++)
        {
            {
                leftoverVideoContainers = 0;
            }
            <div class="videos-row">
                @for (int currentRowIndex = 0; currentRowIndex < 5 && randomVideoIndex < Model.Count; currentRowIndex++, randomVideoIndex++, leftoverVideoContainers++)
                {
                    <a class="video-card-link" href="/Video/Details?v=@Model[randomVideoIndex].Id">
                        <div class="videos-card">
                            <img class="videos-thumbnail" src="@Model[randomVideoIndex].Thumbnail.CloudURL">
                            <div class="videos-data">
                                <img class="videos-channel-profile-picture" src="@Model[randomVideoIndex].CreatedBy.ProfilePicture.CloudURL" />
                                <div class="videos-details">
                                    <div class="videos-title">@Model[randomVideoIndex].Title</div>
                                    <div class="videos-channel-name">@Model[randomVideoIndex].CreatedBy.Name</div>
                                    <div class="videos-metrics">
                                        <div class="videos-views">0</div>
                                        <div class="videos-views-date-separator"></div>
                                        <div class="videos-date">@Model[randomVideoIndex].CreatedOn.ToString("dd/MM/yyyy")</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @for (; leftoverVideoContainers < 5; leftoverVideoContainers++)
                {
                    <div class="videos-card"></div>
                }
            </div>
        }
    </section>
</main>
